{% assign lines = site.data[site.play]  %}
{% assign pieces = include.line-start | split: "." %}
{% assign act = pieces[0] %}
{% assign scene = pieces[1] %}
{% assign start = include.line-start | split: "." | last %}
{% assign end = include.line-end | split: "." | last  %}
{% assign range = (start..end) %}
{% capture clean-range %}{% for i in range %}{{act}}.{{scene}}.{{i}};{% unless forloop.last %};{% endunless %}{% endfor %}{% endcapture %}
{% assign quoted-lines = clean-range | split: ";" %}
<div class="bg-light p-3 line-quote">
{% for line in lines %}
{% if quoted-lines contains line.actsceneline   %}
{% assign prev_i = forloop.index0 | minus: 1 %}
{% assign prev_player = lines[prev_i].player %}
{% assign actsceneline = line.actsceneline |split: "." | last %}
{% assign numline = actsceneline | times: 1 %}
{% unless line.actsceneline %}
<section class="searchline pl-3">
<div id="{{ line.dataline }}" class="{{ line.player }} {{ line.actscene | replace: '.','scene'| prepend: 'act' }} row my-4 playline ml-4 playerline">
<p><em>{{line.playerline}}</em></p>
</div>
</section>
{% else %}
<section class="searchline pl-3">
{% unless line.player == prev_player or forloop.first %}
<div class="{{ line.player }} {{ line.actscene | replace: '.','scene'| prepend: 'act' }} row mt-3 playline">
<div class="col-2 small"></div>
<div class="col-10 font-weight-bold">
<p class="mb-0 playerline">
{{line.player | remove: ":"}}: </p>
</div>
</div>
{% endunless %}
<div id="{{ line.dataline }}" class="{{ line.player }} {{ line.actscene | replace: '.','scene'| prepend: 'act' }} row playline textline">
<div class="col-2 small" id="{{ line.actsceneline }}">{{ line.actsceneline }}</div>
<div class="col-10 pr-0 playerline">{{ line.playerline }}</div>

</div>

</section>
{% endunless %}
{% endif %}
{% if forloop.last %}<p class="text-right"><a href="{{ '/' | relative_url}}#{{ include.line-start }}" class="stretched-link"><i>{{ include.line-start }}{% if include.line-end %} - {{ include.line-end }}{% endif %}</i></a></p>{% endif %}
{% endfor %}

</div>
<br>